.features {
  padding-top: 94px;
  &__item h2 {
    width: 270px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__item:not(:first-child) {
    margin-left: 30px;
  }
  &__title1::before {
    content: '';
    display: inline-block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../images/Group.svg);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &__title2::before {
    content: '';
    display: inline-block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../images/clock\ 1.svg);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &__title3::before {
    content: '';
    display: inline-block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../images/diagram\ 1.svg);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &__title4::before {
    content: '';
    display: inline-block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../images/astronaut\ 1.svg);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  &__description {
    font-family: Roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    text-align: left;
    letter-spacing: 3%;
    padding-top: 10px;
  }
  &-list {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    .title {
      color: var(--title-text-color);
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-style: normal;
      margin-top: 0px;
    }
    .list {
      color: #757575;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}
