html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
.section {
  background-color: #fff;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

@import './header';
@import './button';
@import './hero';
@import './modal';
@import './features';
@import './work';
@import './team';
@import './clients';
@import './footer';
@import './footer-social';
@import './footer-sub';
