.header {
  background-color: var(--primary-bg-color);
  padding: 24px 0px 25px;
  position: relative;
  &-group {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
  }
  &-link {
    font-weight: 400;
    font-family: Raleway, sans-serif;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: #2196f3;
  }
  &-link--span {
    color: #000;
    margin-right: 93px;
  }
}
.main__nav {
  &-item:not(last-child) {
    margin-right: 50px;
  }
  &-link:hover {
    color: #18a0fb;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0px;
    top: 45px;
    opacity: 0;
    background: #2196f3;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link:hover::after {
    opacity: 1;
    transform: scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link-is-active {
    color: #2196f3;
  }
  &-link-is-active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0px;
    top: 45px;
    background: #2196f3;
    border-radius: 2px;
  }
  &-item {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
  }
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
  }
}
.contact {
  display: flex;
  margin-left: auto;
  &__link-mail {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    text-decoration: none;
    margin-left: 0%;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &__link-mail:hover {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link-tel {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    text-decoration: none;
    margin-left: 0%;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &__link-tel:hover {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover &__icon-mail {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-mail {
    margin-right: 10px;
    fill: #757575;
  }
  &__icon-tel {
    margin-right: 10px;
    fill: #757575;
  }
  &__item:hover &__icon-tel {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
